/* font style */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "Merriweather", serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font-color{
    color: rgb(255, 255, 255);
}


/* banner section */
.banner-container{
    background-image: url(../styles/images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0,0.5);
    background-blend-mode:darken;
}

.banner-content p{
    color:white;
    font-size: 32px;
    font-weight: 400; 
    text-align: center;
    
}
.banner-content h1{
    color:white;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

/* offer section */
.offer-container{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: "Inter", sans-serif;
    
}
.offer-tittle{color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 20px;
}
.offer-deal{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
}

.offer-category{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 20px;
}

/* party section */
.party{
    background-image: url(./images/Vectorrr.png);
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    gap: 150px;
}

.party-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.party h1{
    
    font-family: Inter;
    color: rgb(239, 235, 235);
    font-size: 64px;
    font-weight: 700;
    padding: 126px 0 50px 126px;
    
}
.party p{
    width: 600px;
    
    font-family: Inter;
    color: rgb(229, 234, 237);
    font-size: 18px;
    font-weight: 400;
    padding:0 0 20px 126px ;
    
}

#join{
    background-color: black;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}
.party-img{
    padding:70px ;
}




