/* font style */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "Merriweather", serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font-color{
    color: rgb(255, 255, 255);
}


/* banner section */
.banner-container{
    background-image: url(../styles/images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0,0.5);
    background-blend-mode:darken;
}

.banner-content p{
    color:white;
    font-size: 32px;
    font-weight: 400; 
    text-align: center;
    
}
.banner-content h1{
    color:white;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

/* offer section */
.offer-container{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: "Inter", sans-serif;
    
}
.offer-tittle{color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 20px;
}
.offer-deal{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
}

.offer-category{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 20px;
}

/* party section */
.party{
    background-image: url(./images/Vectorrr.png);
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    gap: 150px;
    border-radius: 20px;
}

.party-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.party h1{
    
    font-family: Inter;
    color: rgb(239, 235, 235);
    font-size: 64px;
    font-weight: 700;
    padding: 126px 0 50px 126px;
    
}
.party p{
    width: 600px;
    
    font-family: Inter;
    color: rgb(229, 234, 237);
    font-size: 18px;
    font-weight: 400;
    padding:0 0 20px 126px ;
    
}

#joinbtn1{
    background-color: black;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}
.party-img{
    padding:70px ;
}

/* location section */

.location{
    min-height: 500px;
    margin: 0 auto;
    max-width: 1320px;
    background-image: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-radius: 16px;
    box-shadow: 100px ;
}

.location-details{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    padding-top: 140px;
    padding-bottom: 150px;
}
#joinbtn2{
    width: 167px;
    height:56px ;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 8px;
}

.redcolor{
    color: rgb(255, 0, 0);
}

/* bestoffer section */

.bestoffer{
    
    margin:0 auto;
    max-width: 1320px;
    min-height: 463px;
    display: flex;
    margin-top: 150px;
    gap: 50px;
    margin-bottom: 150px;
}




.offercontent1{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.offercontent1 h4{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;

}

.offercontent1 h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}
.offercontent1 p
{color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;}

.offercontent2{
    border-radius:600px;
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;}
    
    

.offercontent3
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 33%;
    align-items: right;
}
.offercontent3 h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;}
    .offercontent3 p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400; 
}  

#hnyimg{
    max-width: 140px;
    max-height: 140px;
}

/* discount section */

.discount-container{
    width: 1320px;
    height: 800.07px;
    margin: 0 auto;
    position: relative;
}

.discount-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discount-text h4{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
}
.discount-text h1{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;

}
#textred{
    color: red;
}

.discount-text p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    padding: 20px 50px 0px 50px ;
}

.rectangle-img{
    width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    position:absolute;
    top: 80%;
}

.gift-img{
    position: absolute;
    width: 600.82px;
    height: 400.96px; 
}
.discount50-img{
    position: absolute;
    width: 305.69px;
    height: 305.69px;
    left: 70%;
    top: 40%;
}

/* portfolio section */

.portfolio{ 
    width: 1320px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 150px;
}
.portfolio-text h4{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom:10px;
    }
.portfolio-text h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-bottom:10px;
}

.portfolio-text p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom:10px;
}
.product-img{
    width: 1320px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}



